<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Butler </title>
    <style>
        body {
            background: #EEEEEE 0% 0% no-repeat padding-box;
            padding: 80px;
            font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        }
        /*Custom Styling -------------*/
        p {
            margin-top: 0;
        }
        .text-center {
            text-align: center;
        }
        .text-left {
            text-align: left;
        }
        .text-right {
            text-align: right;
        }
        .text-uppercase {
            text-transform: uppercase;
        }
        .text-muted {
            opacity: 0.6;
        }
        .mb-1 {
            margin-bottom: 4px;
        }
        .mb-2 {
            margin-bottom: 8px;
        }
        .font-weight-bold {
            font-weight: bold;
        }
        .d-flex {
            display: flex;
        }
        .justify-content {
            justify-content: space-between;
        }
        .btn.btn-primary {
            color: #fff;
            text-decoration: none;
            text-align: center;
            background: #017C01;
            background: linear-gradient(135deg, #017C01 0%, #00BF00 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0068", endColorstr="#ff90bd", GradientType=1);
            border: none;
            padding: 15px 40px;
            border-radius: 12px;
            font-weight: 700;
        }
        .btn.btn-primary:hover,
        .btn.btn-primary:focus {
            color: #fff;
            background: #015601;
            background: linear-gradient(135deg, #017C01 0%, #015601 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0068", endColorstr="#015601", GradientType=1);
            border-color: #014901;
        }

        /*Main Styling -------------*/
        .boxWrapper {
            max-width: 600px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 26px #00000017;
            border-radius: 20px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
        }
        /*Header*/
        .headerSection {
            text-align: center;
            padding: 20px;
        }
        .headerSection .divider {
            max-width: 341px;
            height: 4px;
            background: #E9E9E9 0% 0% no-repeat padding-box;
            margin: 0 auto;
            margin-top: 20px;
        }
        /*Content*/
        .main-content {
            padding: 0 44px;
            color: #434343;
        }
        .main-content strong {
            color: #141414;
        }
        .main-content p {
            font-size: 16px;
            line-height: 26px;
        }
        .main-content .titleSection {
            margin: 0 -44px 30px;
            text-align: center;
            color: #fff;
            position: relative;
        }
        .main-content .titleSection > img {
            width: 100%;
        }
        .main-content .titleSection > .title {
            color: #141414;
            text-transform: uppercase;
            margin-top: 0;
        }
        .main-content .titleSection .content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 40px 0;
        }
        .main-content .titleSection .content .title {
            margin-top: 0;
            font-weight: 400;
        }
        /*Table*/
        .main-content .summaryWrapper {
            background-color: #F3F3F3;
            border-radius: 12px;
            padding: 10px 30px;
        }
        .main-content .summaryWrapper table {
            width: 100%;
        }
        .main-content .summaryWrapper table tr td {
            border-bottom: 1px solid #e0dbdb;
            padding: 15px 0;
        }
        .main-content .summaryWrapper table tr:last-child td {
            border-bottom: none;
        }

        /*Footer*/
        .footerSection {
            padding: 40px 0 30px;
        }
        .footerSection .divider {
            max-width: 513px;
            height: 2px;
            background: #E9E9E9 0% 0% no-repeat padding-box;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        .footerSection > ul {
            list-style: none;
            padding: 0 44px;
            margin: 0;
        }
        .footerSection ul li {
            color: #434343;
            display: inline-block;
            margin: 5px 0;
            width: 100%;
            margin-right: 15px;
        }
        .footerSection ul li.w-auto {
            width: auto;
        }
        .copyright {
            width: 100%;
            background: #f2f2f2 0% 0% no-repeat padding-box;
            text-align: center;
            font-size: 16px;
            color: #636363;
            padding: 10px;
        }
        .copyright p {
            margin: 0;
        }
        @media (max-width: 600px) {
            body {
                padding: 20px;
            }
        }
        @media (max-width: 500px) {
            .main-content {
                padding: 0 25px;
            }
            .main-content .summaryWrapper {
                padding: 10px 20px;
            }
            .footerSection ul li {
                text-align: center;
                display: block;
                margin: 0 0 15px 0;
            }
            .footerSection ul li img {
                display: block;
                margin: 0 auto 5px auto;
            }
        }
    </style>
</head>
<body>
    <div class="boxWrapper">
        <div class="headerSection">
            <img height="50px" src="{{logo}}" alt="">
            <div class="divider"></div>
        </div>

        <div class="main-content">
            <div class="titleSection">
                <h3 class="title">Password Reset</h3>
                <img src="{{password-reset-hero}}" alt="">
            </div>
            <p>Hi {{fullName}},</p>
            <p>Seems like you forgot your password for your Butler account ({{email}}). If so, click the link below to reset your password.</p>
            <br>
            <div class="text-center">
                <a href="{{forgetPasswordLink}}" class="btn btn-primary">Click here</a>
            </div>
            <br><br>
            <p class="text-muted" style="font-style: italic">Pleaes ignore this email if you did not request password change.</p>
        </div>

        <div class="footerSection">
            <div class="divider"></div>
            <ul>
                <li><img src="{{pin}}" alt=""> <strong>Adrress:</strong> ABC ABC</li>
                <li class="w-auto"><img src="{{phone}}" alt=""> <strong>Phone:</strong> (888) 99-333 / (818) 22-333 (9663)</li>
                <li class="w-auto"><img src="{{envelope}}" alt=""> <strong>Email:</strong>  admin@butler.com</li>
            </ul>
        </div>
        <div class="copyright">
            <p>Butler ©  All Rights Reserved</p>
        </div>
    </div>
</body>
</html>
